-# Profile page: gives users quick access to change their password and edit their lab
%p= link_to "Change Your Password", edit_user_registration_path, class: "btn btn-primary" 
%h1 Update Your Lab
- @lab.each do |lab|
	%h3= link_to lab.title, edit_lab_path, class: "btn btn-default" 


