/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);



@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

$green: #13897a;
$lightBlue: #71caec;
$details: 	#f4f3ee;
$detailsTitle: #13897a;


body {
	background: rgb(255, 254, 253);

}

.main_content {
	padding: 0 0 50px 0;
}

#submit_button {
	padding-left: 13px;
	padding-bottom: 30px;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	@include box-shadow;
	background: white;
	font-weight: bold;
}

.navbar {
	margin-bottom: 50px;
	@include box-shadow;
	border: none;
	.navbar-brand {
		text-transform: uppercase;
		letter-spacing: -1px;
		font-family: 'Open Sans', sans-serif;
		font-size: 25px;

		a {
			color: $green;
		}
	}
}

.lab {

	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		a {
			color: $green;
		}
	}
}

#projects {
	padding: 0% 2%;
	min-height: 100px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}

#lab_top {
	margin-bottom: 50px;
}
#lab_description {
	
	padding: 1.4% 2%;
	min-height: 100px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#lab_info {
	padding: 3% 3%;
}
#publications {
	padding: 0% 2%;
	min-height: 30px;
	border-radius: 5px;
	
}

#lab_info, #publications, #lists {
	list-style-type: decimal;
}

.lab_image {
	max-width: 100%;
	border-radius: 5px;
	@include box-shadow;
}


#lab_details {
	background-color: $details;
	h5 {
		padding-top: 3px;
		padding-bottom: 17px;
		margin: 12px;
		border-bottom: 1px dotted;
	}
}

#lab_info {
	h1 {

		font-size: 36px;
		font-weight: normal;
		color: $green;
	}
	.description {
		font-family: 'Open Sans', sans-serif;
		color: #8A8A8A;
		font-size: 20px;
	}
}

#publications, #projects {
	margin-bottom: 50px;
	ul, ol {
		padding-left: 18px;
		li {
			padding: 1em 0;
			border-bottom: 1px solid #EAEAEA;
		}
	}
}

.form-inline {
	margin-top: 15px;
}
.form-input {
	width: 65% !important;
	float: left;
}
.form-button {
	float: left;
	width: 30% !important;
	margin-left: 5%;
}
.add-button {
	margin-top: 25px;
}

.btn-primary.btn-outline {
    color: #white;
}

.tbody {
	color: white
}
.search {
	border-radius:0;
}

table.table.labs td {
    border-top: none;
}
table.table.labs tr.sub {
    border-top: 1px solid ;
}
table.table.labs tr.main {
	border-top: 1px solid;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    border-radius: 0;
    
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active, .btn-primary.btn-outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
}
.btn-primary.btn-outline:active, .btn-primary.btn-outline.active {
    border-color: #007299;
    color: white;
}

h1.title {
	font-family: 'Open Sans', sans-serif;
}

h2.subhead-center {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-color: $lightBlue;
	color: white;
	padding: 5px;

}
h3.title {
	font-family: 'Open Sans', sans-serif;
	background-color: $detailsTitle;
	color: white;
	padding: 5px;
	
}
h3.subtitle {
	font-family: 'Open Sans', sans-serif;
}


